body {
  font-family: Calibri, sans-serif;
  padding: 0px;
}

h1 {
  color: rgb(161,0,0);
}

ol{
  padding-left: 1.8em
}

ul{
  padding-left: 1.5em;
}

#top-img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.content {
  padding: 2em;
  margin-left: auto;
  margin-right: auto;
}

p.greybox {
  background-color: rgb(235,235,235);
  padding: 1em 1em;
}

img.servimg {
  width: 49.5%;
}